h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Open Sans", sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0, 20px, 0, 20px;
  display: flex;

  background-color: teal;
}

.left-box {
  width: 30%;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;

  background-color: darkgoldenrod;
}

.right-box {
  width: 70%;
  padding: 0 20px 0 20px;
  margin-bottom: 20px;

  background-color: darkorange;
}

.title {
  color: rgb(2, 2, 24);
}

.photo {
  display: flex;
  height: 150px;
  margin: 0 0 20px 0;
}

.light-text-color {
  color: white;
}
